/* Fonts */
@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('../fonts/MullerRegular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Muller';
  src: local('Muller'), url('../fonts/MullerBold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}