footer.footer-page
  .container-fluid
    .footer-top
      .footer-top__col-left
        span.footer-top__name Kvartyroom.ru
        p.footer-top__about База проверенных новостроек Москвы и Московской области
          a.footer-top__link(href="#") wiki-cловарь
      .footer-top__col-right
        .list-footer-inline
          a.list-footer-inline__item
            img.list-footer-inline__ad(src=`${baseDir}assets/img/analytics/ad.jpg`, alt="")
            span.list-footer-inline__text Реклама на сайте
          a.list-footer-inline__item.list-footer-inline__item_social
            .list-footer-inline__icon
              +svg('vk', 'list-footer-inline__svg')
            span.list-footer-inline__text Вконтакте
          a.list-footer-inline__item.list-footer-inline__item_social
            .list-footer-inline__icon
              +svg('facebook', 'list-footer-inline__svg')
            span.list-footer-inline__text Facebook
    .footer-bottom.footer-page__footer-bottom
      .footer-bottom__col-left
        .copyright
          p.copyright__left-block Copyright © 2014-2019 
            br
            | Все права защищены.
          p.copyright__right-block При полном или частичном использовании материалов с сайта в интернете активная ссылка на Kvartyroom.ru обязательна.
      .footer-bottom__col-right
        p.footer-bottom__disclaimer Данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой. 
          a.footer-bottom__more(href="#") Подробнее

  
