include _mixins/svg-icon.pug

block vars
  -
    var baseDir = ''
  -
    var title = typeof title !== 'undefined' ? title : null

doctype html
html(lang="ru")
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name='description', content="")
    link(href="assets/img/favicon.ico" rel='shortcut icon')
    block styles

  body.overflowed

    // Loader
    include _layout/loader.pug

    .layout
      // Header
      include _layout/header.pug
      // Sidebar menu
      include _layout/sidebar-menu.pug
      // Content
      block content
      // Footer
      include _layout/footer.pug

    // Scripts
    block scripts
      script(src=`assets/js/bundle.js`)
    

  

      
