extends pug/base

append vars
  - var title = 'Home'

block styles
  link(href=`assets/css/main.css` rel="stylesheet")
  link(href=`assets/css/page-index.css` rel="stylesheet")
  //- script(defer src="//api-maps.yandex.ru/2.1/?apikey=331f0d07-e46d-4d29-8413-0bab3f422cd9&load=package.standard&lang=ru-RU")

block content
  main
    .layout__content
      .page-index
        .container-fluid
          h3.title-md.page-index__title Yandex карта это - 15-20% на Google Page Speed, по возможности не подключать карту а вставлять ссылкой
          a(target="_blank" href="https://goo.gl/maps/P6eqkYn8rmJqfj8P8") Карта
          h3.title-md.page-index__title На видимом экране при загрузке не должно быть lazy load img только после
          img(src="assets/img/folder/test-1.jpg" alt="")
          h3.title-md.page-index__title Page index 2 323
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestiae facere suscipit harum quae ab ipsum sit voluptate omnis laborum nisi, explicabo, fugit illo sint fugiat nam dolorum quod libero!
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 485'%3E%3C/svg%3E" data-src="assets/img/folder/test-1.jpg" alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 604 340'%3E%3C/svg%3E" data-src="assets/img/folder/test-2.jpg" alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          .test-bg.lazy(data-bg="url(assets/img/folder/test-3.jpg)")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          .test-bg.lazy(data-bg="url(assets/img/folder/test-4.jpg)")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 720'%3E%3C/svg%3E" data-src="assets/img/folder/test-5.jpg" alt="")
          h3.title-md.page-index__title Page index 2 323
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestiae facere suscipit harum quae ab ipsum sit voluptate omnis laborum nisi, explicabo, fugit illo sint fugiat nam dolorum quod libero!
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 485'%3E%3C/svg%3E" data-src="assets/img/folder/test-1.jpg" alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 604 340'%3E%3C/svg%3E" data-src="assets/img/folder/test-2.jpg" alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          .test-bg.lazy(data-bg="url(assets/img/folder/test-3.jpg)")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          .test-bg.lazy(data-bg="url(assets/img/folder/test-4.jpg)")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 720'%3E%3C/svg%3E" data-src="assets/img/folder/test-5.jpg" alt="")
          h3.title-md.page-index__title Page index 2 323
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestiae facere suscipit harum quae ab ipsum sit voluptate omnis laborum nisi, explicabo, fugit illo sint fugiat nam dolorum quod libero!
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 485'%3E%3C/svg%3E" data-src="assets/img/folder/test-1.jpg" alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 604 340'%3E%3C/svg%3E" data-src="assets/img/folder/test-2.jpg" alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          .test-bg.lazy(data-bg="url(assets/img/folder/test-3.jpg)")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          .test-bg.lazy(data-bg="url(assets/img/folder/test-4.jpg)")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 720'%3E%3C/svg%3E" data-src="assets/img/folder/test-5.jpg" alt="")
          h3.title-md.page-index__title Page index 2 323
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestiae facere suscipit harum quae ab ipsum sit voluptate omnis laborum nisi, explicabo, fugit illo sint fugiat nam dolorum quod libero!
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 485'%3E%3C/svg%3E" data-src="assets/img/folder/test-1.jpg" alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 604 340'%3E%3C/svg%3E" data-src="assets/img/folder/test-2.jpg" alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          .test-bg.lazy(data-bg="url(assets/img/folder/test-3.jpg)")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          .test-bg.lazy(data-bg="url(assets/img/folder/test-4.jpg)")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, omnis veritatis laboriosam laudantium, neque ducimus adipisci explicabo vitae excepturi est magnam deserunt pariatur aut incidunt officiis maiores unde accusamus impedit.
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 720'%3E%3C/svg%3E" data-src="assets/img/folder/test-5.jpg" alt="")