html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
body {
  opacity: 1 !important;
  overflow-x:hidden;
  overflow-y: auto;
  &.overflowed {
    overflow-y: hidden;
  }
}
main {
  flex-grow: 1;
  flex: 1 0 auto;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: $container-fluid-max-width;
}
.btn {
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-1;
  font-size: 14px;
  background: $orange;
  border-radius: 0;
  color: $white;
  height: 54px;
  padding: 0 40px;
  transition: all 350ms ease;
  @include below(900px) {
    height: 42px;
    font-size: 13px;
  }
  &:hover {
    background: $orange;
    color: $white;
    border-color: $orange;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    transform: translate3d(0,2px,0);
  }
  &__text {
    z-index: 3;
    position: relative;
    color: $white;
    margin-left: 15px;
    transition: all 400ms ease;
  }
  &__svg {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: all 400ms ease;
  }
}
.title-md {
  font-size: 26px;
  font-family: $font-2;
  font-weight: normal;
  letter-spacing: 0.4px;
  margin: 0;
  @include below(900px) {
    font-size: 21px;
  }
  @include below(500px) {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0;
  }
  &__orange {
    color: $orange;
  }
}
.title-sm {
  font-size: 16px;
  font-family: $font-1;
  font-weight: 700;
  margin: 0;
}
.tab {
  position: relative;
  &__content-item {
    display: none;
    &_active {
      display: block;
    }
  }
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__content {

  }
  &__pad-top {
    margin-top: 20px;
  }
}


