.header-page {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  background: $white;
  box-shadow: 0 4px 20px 0 rgba(207,218,229,.6);
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
  }
  &__btn-menu {
    display: none;
    padding: 0;
    @include below(650px) {
      display: block;
    }
  }
  &__nav-page {
    @include below(450px) {
      display: none !important;
    }
  }
  &__list-nav-page {
    @include below(650px) {
      display: none !important;
    }
  }
}
.logo {
  @include below(1100px) {
    width: 200px;
    margin-right: 20px;
  }
}
.btn-menu {
  background: none;
  border: none;
  transition: all 300ms ease;
  &_active {
    transform: rotate(180deg);
  }
  &__lines {
    display: block;
    margin: 0 auto;
    width: 21px;
  }
  &__line {
    float: left;
    clear: both;
    width: 100%;
    height: 2px;
    background: $black;
    margin: 1.5px 0;
    transition: all 300ms ease-in-out;
  }
}
.nav-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list-nav-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__item {
    position: relative;
    margin: 0 16px;
    user-select: none;
    @include below(1150px) {
      margin: 0 10px;
    }
    @include below(900px) {
      margin: 0 8px;
    }
    &_active {
      .list-nav-page__tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      .list-nav-page__link-dropdown {
        color: $yellow;
      }
      .list-nav-page__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__tooltip {
    z-index: 20;
    position: absolute;
    top: 90%;
    left: -20px;
    width: 240px;
    background: $white;
    box-shadow: 0 0 20px 6px rgba(0,0,0,0.15);
    padding: 10px 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 300ms ease;
    &:before {
      position: absolute;
      top: -7px;
      left: 50px;
      transform: translateX(-50%);
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $white;
    }
  }
  &__link {
    font-family: $font-2;
    font-size: 16px;
    color: $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 25px 0;
    @include below(1100px) {
      font-size: 14px;
    }
  }
  &__link-dropdown {
    font-family: $font-2;
    font-size: 16px;
    color: $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 25px 0;
    @include below(1100px) {
      font-size: 14px;
    }
  }
  &__icon {
    fill: $black;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    transition: all 400ms ease;
    @include below(1100px) {
      width: 10px;
      height: 10px;
      margin-left: 5px;
    }
  }
}
.list-nav-tooltip {
  &__item {
    margin: 10px 0;
  }
  &__link {
    font-family: $font-2;
    font-size: 16px;
    display: inline;
    border-bottom: 2px solid transparent;
    @include below(650px) {
      font-size: 14px;
    }
    &:hover {
      color: $black;
      border-color: $yellow;
    }
  }
}
.city {
  position: relative;
  margin-left: 30px;
  @include below(1100px) {
    margin-left: 10px;
  }
  @include below(450px) {
    margin-left: 0;
    padding-left: 50px;
  }
  &_active {
    .city__dropdown {
      opacity: 1;
      visibility: visible;
    }
    .city__icon {
      transform: rotate(180deg);
    }
  }
  &__select {
    display: none;
  }
  &__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: $font-2;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 0;
    width: 130px;
    @include below(1100px) {
      width: 100px;
      font-weight: normal;
    }
    @include below(450px) {
      justify-content: flex-start;
      width: auto;
      margin-top: 10px;
      font-weight: 700;
    }
    &:hover {
      color: $black;
    }
  }
  &__name {
    display: block;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__icon {
    flex-shrink: 0;
    flex-grow: 0;
    fill: $black;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    transition: all 400ms ease;
    @include below(1100px) {
      width: 10px;
      height: 10px;
      margin-left: 5px;
    }
  }
  &__dropdown {
    z-index: 10;
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    transform: translateY(-5px);
    background: $white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease;
    padding: 10px 20px;
    &:before {
      position: absolute;
      top: -7px;
      right: 35px;
      transform: translateX(-50%);
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $white;
    }
  }
  &__dropdown-link {
    font-size: 14px;
    margin: 10px 0;
    &_active {
      color: $yellow;
    }
  }
}