.sidebar-menu {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  height: 100%;
  background: $white;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0,0,0,.1);
  transition: all 500ms ease;
  display: none;
  transform: rotateY(90deg);
  transform-origin: left center;
  @include below(900px) {
    display: block !important;
  }
  &_active {
    transform: rotateY(0deg);
    .sidebar-menu__close {
      transform: rotate(0);
    }
  }
  &__close {
    z-index: 15;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 30px;
    height: 30px;
    transform: rotate(360deg);
    transition: all 400ms ease;
    padding: 10px;
    &:before,
    &:after {
      position: absolute;
      top: 6px;
      left: 14px;
      content: ' ';
      height: 18px;
      width: 2px;
      background-color: #3e3e3e;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &__body {
    position: relative;
    width: 100%;
    min-height: 100%;
  }
  &__nav-page {
  }
  &__city {
    display: none;
    @include below(450px) {
      display: block;
    }
  }
  &__logo {
    padding: 27px 20px;
    img {
      width: 200px;
    }
  }
  &__sub-menu {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
    transition: all 450ms ease;
    &_active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
  &__close-sub-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: $black;
    padding: 27px 20px;
  }
  &__close-icon-sub-menu {
    width: 10px;
    height: 10px;
    fill: $black;
    margin-right: 15px;
  }
}
.list-nav-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  &__item {
    position: relative;
    width: 100%;
    user-select: none;
    border-top: 1px solid #e1e1e1;
    padding: 15px 20px;
    padding-left: 50px;
    &_active {
      z-index: 40;
      .list-nav-sidebar__tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      .list-nav-sidebar__link-dropdown {
        color: $yellow;
      }
      .list-nav-sidebar__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__tooltip {
    z-index: 20;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: $white;
    box-shadow: 0 0 20px 6px rgba(0,0,0,0.15);
    padding: 10px 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 300ms ease;
    &:before {
      position: absolute;
      top: -7px;
      left: 30px;
      transform: translateX(-50%);
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $white;
    }
  }
  &__link {
    font-family: $font-2;
    font-weight: 700;
    font-size: 16px;
    color: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 5px 0;
    text-transform: uppercase;
  }
  &__link-dropdown {
    font-family: $font-2;
    font-weight: 700;
    font-size: 16px;
    color: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 5px 0;
    text-transform: uppercase;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 24px;
    height: 24px;
    fill: #eac400;
  }
  &__icon-arrow {
    fill: $black;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    transition: all 400ms ease;
    @include below(1100px) {
      width: 10px;
      height: 10px;
      margin-left: 5px;
    }
  }
}
.list-sub-menu {
  display: none;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  &_active {
    display: flex;
  }
  &__item {
    position: relative;
    width: 100%;
    user-select: none;
    border-top: 1px solid #e1e1e1;
    padding: 15px 20px;
    padding-left: 50px;
  }
  &__big-link {
    padding: 5px 0;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 24px;
    height: 24px;
    fill: #eac400;
  }
}